.notFound {
  width: 100%;
  height: 100%;
  .container {
    width: 80%;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 300px;
    @include media("<=phone") {
      padding-top: 220px !important;
    }
    p {
      font-size: 2rem;
    }
    button {
      margin-top: 4%;
      height: 60px;
      width: 200px;
      font-size: 1.2rem;
      background: black;
      color: #fff;
      font-weight: 600;
      border-radius: 10px;
      border: none !important;
      transition: 0.3s all ease-in-out;
      -moz-transition: 0.3s all ease-in-out;
      -webkit-transition: 0.3s all ease-in-out;
      font-family: "Josefin Sans", serif;
      &:hover {
        transition: 0.3s all ease-in-out;
        -moz-tnsition: 0.3s all ease-in-out;
        -webkit-transition: 0.3s all ease-in-out;
        transform: translateY(-3px);
      }
    }
  }
}
