.testimonials {
  height: calc(var(--vh, 1vh) * 80);
  width: 100%;
  background: #f4f7f7;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  &:after {
    content: "";
    position: absolute;
    width: 700px;
    height: 450px;
    background: #f2f2f6;
    right: 0;
    bottom: 0;
    opacity: 0.8;
    z-index: 2;
  }

  .testimonial_container {
    width: 75%;
    min-width: 75%;
    margin: 0 auto;
    height: 600px;
    position: relative;
    z-index: 10;
    .arrows {
      // background: #9c9c9c;
      position: absolute;
      display: flex;
      width: 70px;
      align-items: center;
      justify-content: center;
      bottom: 0;
      top: 0;
      cursor: pointer;
      border-radius: 8px;
      transition: 0.3s all ease-in-out;

      &.right {
        right: 0;
      }
      &:hover {
        box-shadow: 0px 0px 40px rgba(0, 0, 80, 0.05);
        transition: 0.3s all ease-in-out;
      }
    }

    .slider_content {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 600px;

      .t-image {
        width: 500px;
        height: 600px;
        display: flex;
        justify-content: center;
        align-items: center;
        // z-index: 10;
        &:after {
          content: "";
          position: absolute;
          width: 200px;
          height: 200px;
          background: #487eb0;
          left: 170px;
          z-index: -4;
          top: 20px;
          border-radius: 100%;
        }

        ul {
          display: flex;
          position: absolute;
          overflow: hidden;
          height: 400px;
          width: 300px;
          // box-shadow: 0px 0px 40px rgba(0, 0, 10, .25);
          li {
            height: 400px;
            width: 300px;
            list-style: none;
            img {
              height: 400px;
              width: 300px;

            }
          }
        }
      }

      .t-content {
        width: 500px;
        height: 600px;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 10;
        ul {
          overflow: hidden;
          position: absolute;
          width: 500px;
          height: 400px;
          li {
            width: 500px;
            height: 400px;
            display: flex;
            align-items: center;
            position: absolute;
            opacity: 0;
            &:nth-child(1) {
              &:after {
                content: "";
                position: absolute;
                height: 12px;
                width: 310px;
                background: #445050;
                opacity: 0.3;
                left: 0;
                top: 190px;
              }
            }
            .slider_inner_content {
              width: 500px;
              .quote {
                font-size: 26px;
                letter-spacing: 0.88px;
                line-height: 40px;
              }
              .name {
                font-size: 18px;
                letter-spacing: 0.88px;
                line-height: 28px;
                font-weight: 600;
                color: #445050;
              }
              .title {
                font-size: 16px;
                letter-spacing: 0.88px;
                line-height: 28px;
                font-weight: 400;
                color: #445050;
              }
            }
          }
        }
      }
    }
  }
}
