@import url("https://fonts.googleapis.com/css?family=Josefin+Sans:400,600,700,800&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800;900&display=swap');
@import "./styles/breakpoints.scss";
@import "./styles/header.scss";
@import "./styles/landing.scss";
@import "./styles/testimonial.scss";
@import "./styles/artists.scss";
@import "./styles/interview.scss";
@import "./styles/footer.scss";
body,
html {
  user-select: none;
  background: #f9fafc;
  overscroll-behavior: none;
  margin: 0;
  font-family: "Josefin Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  width: 88%;
  min-width: 88%;
  margin: 0 auto;
  height: 100% ;
  @include media("<=1560px") {
    width: 95%;
    min-width: 95%;
  }
  @include media("<=desktop") {
    width: 100%;
    min-width: 100%;
  }
  @include media("<=1080px") {
    width: 100%;
    min-width: 100%;
  }
  .row {
    display: flex;
    min-height: 100%;
    height: auto !important;
    padding: 0 32px;
    @include media("<=phone") {
      padding: 0 16px;
    }
  }
  .v-center {
    align-items: center;
  }
  .space-between {
    justify-content: space-between;
  }
}

.container-fluid {
  width: 100%;
  height: 100%;
  .row {
    display: flex;
    height: 100%;
  }
}
